@font-face {
    font-family: "DMSans" ;
    src: url("../font/DMSans.ttf");
}

@font-face {
    font-family: "Inter" ;
    src: url("../font/Inter.ttf");
}


@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat.ttf);
}