* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0; 
    max-width: 1920px ; 
    
}

body{
    margin: 0;
    font-family: 'Inter','DMSans','Montserrat';
    font-style: normal;
    font-weight: 400;
    
}


/* HEADER
==================== */

.header {
    display: flex;
    padding: 16px 220px;
    justify-content: space-between;
    align-items: center; 
    gap: 361px;
    font-weight: 500;
    line-height: 23px;
}

.header-logo {
    margin: 0;
}

.nav-menu {
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-items {
    font-family: 'DMSans';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18.5px 0;
    gap: 32px;
} 

.menu-items a {
    text-decoration: none;
    color: #4F9CF9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-btn {
    display: flex;
    padding-left: 75px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 40px;
    gap: 10px;
    background: #FFE492;
    border-radius: 8px;
    text-decoration: none;
    color: #043873;
    width: 126px;
    height: 60px;
}

.btn-login:hover {
    background-color: #043873;
    color: #FFE492;
    transition: 0.3s linear ;
}

.btn-trial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    text-decoration: none;
    background: #4F9CF9;
    border-radius: 8px;
    color:  #FFFFFF ;
    width: 227px;
    height: 60px;
}

.btn-trial:hover {
    background-color: #175aa7;
    color: #FFFFFF ;
    transition: 0.3s linear;
}


/* HERO SECTION
==================== */

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 220px;
    isolation: isolate;
    background-image: url(../img/Element.svg);
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 180px;
}

.hero-section-trial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px; 
}

.hero-section-trial h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #4F9CF9;
    display: flex;
    padding-top: 70px;
    padding-bottom:24px ; 
}

.hero-section-trial p {
    font-size: 18px;
    line-height: 30px;
    color: #4F9CF9;
    display: flex;
    padding-bottom: 60px ;
}

.hero-section-trial a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 219px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    margin-bottom: 94px ;
    margin-left: 0;
}


/* WORK MANAGEMENT
==================== */

.work-management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;
    gap: 100px;
    background-image: url(../img/BACKGROUND.svg);
    background-repeat: no-repeat;
    background-position-x:left;
    background-position-y: 265px; 
}

.project-management-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;  
}

.project-management-content h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #212529;
    display: flex;
    padding:68px 60px 24px 0 ;
    position: relative;
    background-image: url(../img/Vector1.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 219px ;
}

.project-management-content p {
    font-size: 18px;
    line-height: 30px;
    color: #212529;
    padding: 0 60px 60px 0;
}

.project-management-content a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 201px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 6px;
    margin-bottom: 68px;
    margin-left: 0;
}

.work-together-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.work-together-content h1 {
    display: flex;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #212529;
    padding-top: 183.5px ;
    padding-left:100px ;
    background: url(../img/Vector2.svg) 0.0 no-repeat;
    background-position-x: 295px;
    background-position-y:bottom ;
}

.work-together-content p {
    font-size: 18px;
    line-height: 30px;
    color: #212529;
    padding: 24px 0 60px 100px ;
}

.work-together-content a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 186px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 6px;
    margin: 0px 484px 183.5px 100px;
}


/* CUSTOMISE
==================== */
.customise {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;
}

.customise-heading {
    display: flex;
}

.customise-heading h1 {
    display: flex;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #212529;
    padding-right: 133px;
    background: url(../img/Vector3.svg);
    background-repeat: no-repeat;
    background-position-x: 160px;
    background-position-y: bottom;
}

.customise-heading p {
    display: flex;
    font-size: 18px;
    line-height: 30px;
    color: #212529;
    padding: 24px 98px 60px 0 ;
}

.customise-heading a {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 176px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 6px;
    margin-bottom: 49px;
    margin-left: 0;
}


/* PRICING
==================== */
.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 60px;
}

.price-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    padding: 140px 220px;
}

.pricing-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
    margin: 0;
}

.pricing-heading h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    color: #212529;
    background: url(../img/Vector4.svg) 0.0 no-repeat;
    background-position-x: 100% ;
    background-position-y:bottom ;
    margin: 0;
}

.pricing-heading p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #212529;
    margin: 0;
}


/* PRICE LIST
==================== */

.price-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 220px 140px 0;
    gap: 32px;
}

.price-list-free {
    width: 472.33px;
    height: 634px;
    background: #FFFFFF;
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 10px;
}

.free {
    padding: 40px 44px 25px 44px;
}

.free h3 {
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #212529;
}

.free h2 {
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #212529;
}

.free h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #212529;
}

.price-list-info p {
    font-size: 16px;
    line-height: 20px;
    color: #212529;
    padding: 0 44px 28px 44px;
    background-image: url(../img/Icon.svg);
    background-repeat: no-repeat;
    margin-left: 44px;
}

.price-list-free a {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #212529;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #FFE492;
    border-radius: 8px;
    text-decoration: none;
    margin: 0 44px 40px 44px;
}

.price-list-free:hover {
    transform: scale(1.2);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    transition: .3s linear;
}

.free h3:hover {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #043873;
    transition: 0.3s linear;
}

.free h2:hover {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #043873;
    transition: 0.3s linear;
}

.free h5:hover {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #043873;
    transition: 0.3s linear;
}


.price-list-info p:hover {
    font-weight: 500;
    color: #043873;
    background-image: url(../img/Icon2.svg);
    background-repeat: no-repeat;
    transition: 0.3s linear;
}

.price-list-free a:hover {
    width: 166px;
    height: 51px;
    background: #4F9CF9;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: 0.3s linear;
    border: none ;
}


/* YOUR WORK
==================== */

.your-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #043873;
    background-image: url(../img/BACKGROUND2.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y:70%;
    
}


.your-work-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    isolation: isolate;
}

.your-work-block h1 {
    align-items: center;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #FFFFFF;
    padding-top: 140px;
    background: url(../img/Vector6.svg)0.0 no-repeat;
    background-position-x: 100%;
    background-position-y: bottom; 
}

.your-work-block p {
    padding: 0 429px;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.your-work-block a {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 39px;
    gap: 10px;
    isolation: isolate;
    width: 195px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    margin: 60px 0 140px;
}


/* DATA
==================== */

.data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.data-block {
    display: flex;
    flex-direction: row;
    padding: 140px 220px;
}
.data-heading {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.data-heading h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #212529;
    padding:  28px 0 24px 0 ;
    margin-left: 0;
    background-image: url(../img/Vector7.svg);
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-position-y: 90px;
}

.data-heading p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    color: #212529;
    padding-bottom: 60px;
}

.data-heading a {
    padding: 20px 40px;
    gap: 10px;
    width: 197px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 28px;
    margin-left: 0;
}


/* SPONSORS
==================== */

.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    color: #212529;
    padding: 140px 220px;
}

.our-sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1482px;
    height: 258px;
}

.sponsor-heading {
    display: flex;
    justify-content: center;    
    align-items: center;
    background-image: url(../img/Vector8.svg);
    background-repeat: no-repeat;
    background-position-x: right ;
    background-position-y: 60px;
    padding-bottom: 100px; 
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 216px; 
}


/* APPS
==================== */

.apps {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 140px 220px;
    gap: 100px;
    isolation: isolate;
    background-color: #043873;
    background-image: url(../img/Element2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.apps-work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;
}

.apps-using {
    display: flex;
    flex-direction: column;
}

.apps-using h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.apps-using p {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 60px;
}

.apps-using a {
    text-decoration: none;
    padding: 20px 39px;
    gap: 10px;
    width: 194px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0;
}


/* TESTIMONIAL
==================== */

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;
    isolation: isolate;
}

.testimonial-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
}

.testimonial-text h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.02em;
    padding-bottom: 60px;
    background-image: url(../img/Vector9.svg);
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-position-y: 80px;

}


.testimonial-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px; 
}
 
.users {
    background-color: #4F9CF9 ;
    border-radius: 10px;
}

.users:hover{
    background-color: #FFFFFF;
    transition: 0.3s linear;
}

.card {
    padding: 60px 40px;
    width: 472px;
    height: 480px;
    gap: 49px;
    color: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
}

.card:hover {
    color: #000;
    transition: 0.3s linear;
}

.card-img p {
    font-size: 18px;
    line-height: 30px;
    padding: 35px 35px 0 0 ;
}

.card-info{
    padding: 49px 0;
}

.card-info h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background-image: url(../img/Btn-Star.svg);
    background-repeat: no-repeat;
    background-position-x: 250px;
    background-position-y: center;
}

.card-info p {
    font-size: 18px;
    line-height: 30px;
}


/* ARROW
==================== */

.arrow {
    padding-top: 60px ;
}

.right-arrow,
.left-arrow{
    margin-right:  50px;
}

.left-arrow,
.right-arrow {
    position: relative;
    display: inline-flex;
    width: 80px;
    height: 80px;
    background: #E6F1FE;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 50px;   
}

.left-arrow::before,
.right-arrow::before {
    content: '';
    width: 20px ;
    height: 20px;
    position: absolute; 
}

.left-arrow::before {
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    border-top: 2px solid 
    #4F9CF9 ;
    border-left: 2px solid 
    #4F9CF9;
    margin-right: 100px;
    top: 25px;
    left: 30px;
}

.right-arrow::before {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border-top: 2px solid 
    #4F9CF9 ;
    border-right: 2px solid 
    #4F9CF9;
    top: 25px;
    right:30px;
}

.left-arrow:hover{
    background-color: #043873;
    transition: 0.3s linear;
}

.right-arrow:hover{
    background-color: #043873;
    transition: 0.3s linear;
}


/* FOOTER
==================== */

.footer {
    display: flex;
    flex-direction: column;
    padding: 140px 220px 32px 220px;
    background: #043873;
    color: #FFFFFF; 
}

.footer-content {
    display: flex;
    gap: 100px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 205.25px;
    height: 169px;
}

.footer-logo img {
    margin: 0;
}

.footer-logo p {
    font-size: 18px;
    line-height: 30px;
    color: #F7F7EE;
    width: 205.25px;
    height: 127px;
}

.contant{
    display: flex;
    gap: 100px;
}

.footer-poduct {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 205.25px;
    height: 130px;
}

.footer-poduct h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.footer-poduct a { 
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-resources {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 205.25px;
    height: 130px;
}

.footer-resources h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.footer-resources a {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFFFFF;
}


.footer-company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 205.25px;
    height: 130px;
}

.footer-company h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.footer-company a {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-try {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 23px;
    width: 259px;
    height: 182px;
}


.footer-try h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.footer-try p {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.footer-try a {
    padding: 20px 40px;
    gap: 10px;
    width: 188px;
    height: 60px;
    background: #4F9CF9;
    border-radius: 8px;
    margin: 0;
}

.btn-line {
    width: 1480px;
    height: 0px;
    border: 1px solid #2E4E73;
    margin-top: 68px;
    margin-bottom: 33px ;
}


.footer-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-language {
    display: flex;
    gap: 6px;
    margin-right: 60px;
}

.footer-language a {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 6px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    margin-right: 606px ;
}


.footer-info  a {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px ;
}

.footer-content a:hover {
    color: #FFE492;
}

.footer-info a:hover{
    color: #FFE492;
}

@media (max-width:400px){
   
    /* Header
    ==================== */
        
    .header{
        display: block;
        padding: 16px 10px;
    }
    .nav-menu {
        display: flex;
        justify-content: none;
        padding: 16px 0;
        
    }
    .menu-items {
        padding: 0 12px;
        gap: 20px;
    }
    .nav-btn{
        padding: 0;
    }

    /* Hero section
    ==================== */
    .hero-section {
        padding: 5px 5px;
        background: none;
    }

    .hero-section-trial {
        display: block;
        padding: 0;
    }

    .hero-section-trial h1{
        padding: 0 100px;
    }
    .hero-section-trial p{
        padding: 0 100px;
    }
    .hero-section-trial a{
        margin: 20px 100px;
    }

    /* Work management
    ==================== */
    .work-management{
        padding: 5px 5px;
        background: none;
        
    }
    .tryitout{
        padding-left: 32.5px;
    }
    .project-management-content{
        flex-direction: column;
        padding: 5px 5px;        
    }
    
    .project-management-content h1 {
        padding: 0 100px;
        background-position-x: 100px;
        background-position-y: 150px;
    }
    .project-management-content p {
        padding: 0 100px;
    }
    .project-management-content a {
        margin: 20px 100px;

    }
    .tryitout-2{
        padding-left: 27px;
    }
    .work-together-content{
        flex-direction: column;
        padding: 5px 5px;
        gap: 30px;
    }
    .work-together-content h1{
        padding: 0 100px;
    }
    .work-together-content p{
        padding: 0 100px;
    }
    .work-together-content a{
        margin: 20px 100px;
    }


    /* Customise
    ==================== */
    .customise{
        flex-direction: column;
        padding: 5px 5px;
    }
    .customise-heading {
        flex-direction: column;
        padding: 5px 5px;
    }
    .tryitout-1{
        margin-left: 60px;
    }
    .customise-heading  h1 {
        padding: 0 100px;
        background-position-x: 260px;
        background-position-y: 140px;
    }
    .customise-heading p {
        padding: 0 100px;
    }
    .customise-heading a {
        margin: 20px 100px;
    }

    /* Pricing
    ==================== */
    .pricing{
        padding: 100px 185px;
        
    }
    .price-block{
        padding: 0;
    }
    .pricing-heading{
        padding: 5px 5px;
    }
    .pricing-heading h1 {
        padding: 0 100px;
        font-size: 50px;
        line-height: 50px;
        background-position-x: 90px;
        background-position-y: 80px;
    }
    .pricing-heading p {
        padding: 0 100px;
    }

    /* Price-list
    ==================== */

    .price-list {
        flex-direction: column;
        padding: 0;
    }

    /* Your work
    ==================== */
    
    .your-work{
        background: none;
        border: none;
    }
   
    .your-work-block{
        padding-left:100px;
    }
    .your-work-block h1 {
        color:#043873 ;
        font-size: 75px;
        line-height: 70px;
        padding: 0 100px 20px;
        margin: 0;
        background-position-x: 90px;
        background-position-y: 200px;
        
    }
    .your-work-block p {
        color:#043873;
        font-size: 15px;
        line-height: 30px;
        padding: 0;
        margin: 0;
    }
   

    /* Data
    ==================== */
    .data{
        flex-direction: column;
        padding: 5px 5px;
    }
    .data-block{
        flex-direction: column;
        padding: 0;
        
    }
    .data-heading{
        padding: 0 100px 20px;
    }
    .data-heading a{
        margin-left: 200px;
    }
    .tryitout-3{
        padding-left: 25px;
    }

    /* Sponsor
    ==================== */

    .sponsors{
        margin: 0;
        flex-direction: column;
        padding: 300px 0;
    }
    .our-sponsors{
        padding: 100px 0;
        width: 0;
        height: 0;
        margin: 0;
    }
    .sponsor-heading{
        padding: 0;
        background-position-x: 15px;
        background-position-y: 150px;
    }
    .sponsor-heading h1 {
        padding-bottom: 50px;
    }
    .social{
        flex-direction: column;
        padding: 0 50px;
        gap: 30px;
    }

     /* Apps
    ==================== */
    .apps{
        flex-direction: column;
        background: none;
        padding: 0;
    }
    .apps-work{
        flex-direction: column;
        padding: 0 100px;
    }
    .apps-using h1{
        color:#043873;
    }
    .apps-using p{
        color:#043873;
    }

    /* Testimonial
    ==================== */
    .testimonial{
        padding: 100px 0;
    }
    .testimonial-block{
        padding-left:195px;
    }
    .testimonial-card{
        flex-direction: column;
    }
    .testimonial-text h1 {
        background-position-y: 263px;
    }
    
    /* Arrow
    ==================== */
    .arrow {
        display: none;
    }

    /* Footer
    ==================== */
    .footer {
        width: 829px;
        padding: 30px 0px 5px;
    }
    .footer-content{
        gap: 50px;
        flex-direction: column;
        margin: 0;
    }
    .footer-logo{
        display: none;
    }
    .contant{
        display: flex;
        padding:0 100px;
        gap: 50px;
        margin: 0;
    }
    .footer-try {
        display: none;
    }
    .btn-line{
        margin: 20px;
        width: 790px;
    }
    .footer-language {
        margin-right: 30px;
    }
    .footer-info {
        gap: 20px;
        margin-right: 60px ;
    }
  



}   